<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    

</head>

<body>
    <header>
        <img src="../img/logo.png" alt="">
        <H1>Contacto</H1>

    </header>
    <nav>
        <ul><a href="../index.html">Menu</Menu></a>
            <li class="menu"><a href="../views/nuestros perros.html">Nuestros perros</a></li>
            <li class="menu"><a href="../views/nosotros.html">Nosotros</a></li>
            <li class="menu"><a href="../views/galeria.html">Galeria</a></li>
            <li class="menu"><a href="../views/exposiciones.html">Exposiciones</a></li>
            <li class="menu"><a href="../views/contacto.html">Contacto</a></li>
    </nav>
    <main>
        <H2 class="contacto">Contacta con nosotros</H2>
        <form action="">
            <input type="text" name="Nombre" placeholder="Nombre"> <br>
            <input type="text" name="Apellido" placeholder="Apellido"> <br>
            <input type="text" name="Telefono" placeholder="Telefono"> <br>
            <input type="email" name="Correo" placeholder="Email"> <br>
            <label for="">Dejanos tu consulta</label> <br>
            <textarea name="Consulta" id="" cols="30" rows="10"></textarea>
            <div class="gracias">
                <h3>Gracias por tu consulta</h3>
            </div>
            <input type="checkbox"> <label for="">¿Desea que lo llamemos?</label><br>
            <input type="submit" value="Enviar consulta"/>
            <input type="reset" value="Limpiar formulario" />


        </form>
    </main>
    <hr>
    <footer class="footer">TODOS LOS DERECHOS RESERVADOS</footer>
</body>

</html>