<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exposiciones</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <img src="../img/logo.png" alt="">
        <H1>Exposiciones</H1>


        
    </header>
    <ul><a href="../index.html">Menu</Menu></a>
        <li class="menu"><a href="../views/nuestros perros.html">Nuestros perros</a></li>
                <li class="menu"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="menu"><a href="../views/galeria.html">Galeria</a></li>
                <li class="menu"><a href="../views/exposiciones.html">Exposiciones</a></li>
                <li class="menu"><a href="../views/contacto.html">Contacto</a></li>
    </ul>
    <main>
        <h2>Primera presentacion de Curry en Escobar el 15 de septiembre</h2>
        <video src="../video/Video de Juan Cruz Muzzio" controls muted></video>






    </main>
    <hr>
    <footer class="footer">TODOS LOS DERECHOS RESERVADOS</footer>
</body>

</html>