<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <img src="../img/logo.png" alt="">
        <h1>Nosotros</h1>
        <ul><a href="../index.html">Menu</Menu></a>
            <li class="menu"><a href="../views/nuestros perros.html">Nuestros perros</a></li>
                <li class="menu"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="menu"><a href="../views/galeria.html">Galeria</a></li>
                <li class="menu"><a href="../views/exposiciones.html">Exposiciones</a></li>
                <li class="menu"><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <h2>QUIENES SOMOS</h2>
        <img src="../img/front_portada.png" alt="foto #FamiliaLaMorocha">
        <h3 class="nosotros">Somos un matrimonio amante de la raza, que cría Labradores desde 1997.
            Todo comenzó cuando nos regalaron a Drago, nuestro primer Labrador negro.
            Allí fue cuando nos dimos cuenta que era la mejor raza que una familia podía desear tener.
            A medida que pasaba el tiempo nos fuimos interiorizando cada vez mas sobre la raza, y comenzamos a descubrir
            las distintas características que esta posee. Aprendimos acerca de los distintos colores, el carácter,
            temperamento y nos fue inevitable enamorarnos de ellos.
            Ese fue el comienzo de nuestra vida como criadores, donde la principal preocupación que tenemos es tratar de
            mejorar día a día esta hermosa raza.
            Así fue como a mediados del 2005, tomamos las decisión de mudarnos a una casa quinta, con el deseo de poder
            brindarles el espacio que ellos necesitan.
            Hoy en día queremos invitarlos a todos a formar parte de la familia de criadero La Morocha y que puedan
            observar que el amor por ellos sigue intacto, como desde el primer momento.
            .
            #FamiliaLaMorocha</h3> <BR></BR>
        <hr>
    </main>
    <footer class="footer">TODOS LOS DERECHOS RESERVADOS</footer>
</body>

</html>